<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Course</title>
    <script src="./vue.js"></script>
    <style>
    </style>
</head>
<body>

    <div id="app">
        <ul>
            <li v-for="(curso, key) in cursos">{{key}} {{curso}}</li>
        </ul>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="({nome, descricao}, id) in cursos2">
                    <td>{{id}}</td>
                    <td>{{nome}}</td>
                    <td>{{descricao}}</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <ul>
            <li v-for="post in posts"  :key="post.id" style="border: 1px solid #000;">
                <div>
                    {{post.content}}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>

        <button @click="misturaPosts()">Mistura Posts</button>

    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
               cursos: ['laravel', 'php', 'js'],
               cursos2: {
                1001: {
                    nome: 'Laravel',
                    descricao: 'muito top'
                },
                1002: {
                    nome: 'PHP',
                    descricao: 'muito BACANUDO'
                }
               },
               posts: [
                { id: 1, content: 'publicacao 1'},
                { id: 2, content: 'publicacao 2'},
                { id: 3, content: 'publicacao 3'},
                ]
            },
            methods: {
                misturaPosts() {
                    let misturado = [];

                    misturado[0] = this.posts[2];
                    misturado[1] = this.posts[0];
                    misturado[2] = this.posts[1];

                    this.posts = misturado;
                }
            }
        });

        console.log(vm);
    </script>
</body>
</html>